body {
    margin: 0;
}


a {
    text-decoration: none;
    color: #7dcaee;

}


.container {
    max-width: 1080px;
    margin: 0 auto;
}


.text-gray{
    color: #808080;
}

.text-small{
    font-size: 12px;
}

#main-header {
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(./images/pattern.png);
    background-size: 30%;
}

#logo {
    height: 50px;
    width: auto;

}

h1 {
    font-size: 38px;
    margin-bottom: 0;

}

address{
    font-style: normal;
    font-size: 20px;
}

.article-pictures{
    margin: 20px 0;

}