
body{
    margin: 0;
}


.container{
    max-width: 1080px;
    margin: 0 auto;
}



#main-header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(./images/pattern.png);
    background-size: 30%;
}

