body {
    margin: 0;
}


a {
    text-decoration: none;
    color: #7dcaee;

}


.container {
    max-width: 1080px;
    margin: 0 auto;
}


.text-gray{
    color: #808080;
}

.text-small{
    font-size: 12px;
}

#main-header {
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(./images/pattern.png);
    background-size: 30%;
}

.w50{
    width: 50%;
}

#logo {
    height: 50px;
    width: auto;

}

h1 {
    font-size: 38px;
    margin-bottom: 0;

}

address{
    font-style: normal;
    font-size: 20px;
}

.article-pictures{
    margin: 20px 0;

}

table{
    border-collapse: collapse;
}

th{
    text-align: left;
    background-color: #20a9e5;
    color: #fff;
}

tr{
    background-color: #b1e5f2;
}

td.even{
    background-color: #fff;
}


.related-article{
    color: #fff;
    width: 210px;
    height: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    padding: 10px;
}

.tech-article{
    background-image: url(./images/monitor.jpg);
}

.finance-article{
    background-image: url(./images/graph.jpg);
}



.related-article-title{
    margin: 0;
    font-size: 1.2rem;
}







